[submodule "qmltermwidget"]
	path = qmltermwidget
	url = https://github.com/supersonic-xserver/qmltermwidget.git
	branch = unstable
[submodule "KDSingleApplication"]
	path = KDSingleApplication
	url = https://github.com/KDAB/KDSingleApplication.git
